<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/make.css">
	<script src="https://kit.fontawesome.com/9791b7f78d.js" crossorigin="anonymous"></script> <!-- font awesome 사용-->
    <title>vote!</title>
</head>
<body class="grid">
    <div class="side-space">
		<div class="sidebar">
			<ul class="nav">
				<li>
					<a href="index.html">
						<spen style="font-size: 50px; font-family: Century Gothic, sans-serif;">vote!</spen>
					</a>
				</li>
				<div class="sidebar-line"></div>
				<li>
					<a href="index.html">
						<i class="fa-solid fa-house"></i>
						<span>Home</span>
					</a>
				</li>
				<li>
					<a href="search.html">
						<i class="fa-solid fa-magnifying-glass"></i>
						<span>Search</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-fire"></i>
						<span>Popular</span>
					</a>
				</li>
				<br>
			</ul>
		</div>
	</div>
	<div class="main-space">
		<div class="content">
			<div class="profile-image">
				<img src="img/blank.png">
			</div>
			<div class="content-main">
				<div class="contnet-information">
					<a class="content-nickname">익명</a>
				</div>
				<input class="content" type="text" placeholder="내용을 입력하세요.">
				<div class="vote">
					<div class="choice-box">
						<input type="text">
					</div>
				</div>
				<button>게시하기</button>
			</div>
		</div>
</body>
</html>
