/* 초기화 */

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

html, body{
    height: 99.97%;
}

.grid{
    display:grid;
    grid-template-columns: 600px 2fr;
}

/* 왼쪽 사이드바 설정 */

.side-space{
    background: white;
    width: 600px;
    height: 100%;
    z-index: 1;
    float: left;
}

.sidebar{
    background: white; /*임시색이므로 나중에 흰색으로 바꾸기*/
    width: 300px;
    height: 100%;
    float: right; /* 오른쪽으로 정렬 */
}

.sidebar-line{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.sidebar h1{
    font-size: 40px;
    padding: 20px;
}

.sidebar ul li{
    margin: 25px 0;
    list-style:none;
}

.sidebar ul li a{
    color: black;
    text-decoration-line: none;
    padding: 0 30px;
    font-size: 30px;
}

.sidebar a{
    margin: 25px 0;
    font-size: 5;
}

.side-profile{
    width: 300px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    margin-top: 364px;
    float: left;
    display: flex;
}

/* 메인화면 설정 */

.main-space{
    background: white;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.content{
    width: 850px;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-top: -1px;
    overflow: auto;
}

.profile-image{
    width: 6%;
    height: 100%;
    float: left;
}

.profile-image img{
    width: 40px;
    aspect-ratio: auto 1/1;
    border-radius: 70%;
    overflow: hidden;
    padding: 10px;
}

.content-main{
    width: 91%;
    float: left;
    padding: 10px;
}

.contnet-information{
    margin-bottom: 4px;
}

.content-nickname{
    width: 80px;
    font-size: 14px;
}

.content-time{
    width: 80px;
    font-size: 12px;
    font-weight: lighter;
}

.content-text{
    width: 91%;
    margin-bottom: 10px;
}

.vote{
    padding-bottom: 10px;
}

.choice-box{
    width: 90%;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 5px;
    margin-bottom: 10px;
}

.choice-box a{
    margin-left: 8px;
}